h2 {
    color: white;
    max-width: 1350px;
    margin: 0 auto;
    padding: 5px;
}

.dating-website h3, .dating-website ul li, .dating-website p, .dating-website a {
    color: white;
    padding: 5px;
}

.ischool-website h3, .ischool-website ul li, .ischool-website p, .ischool-website a {
    color: white;
    padding: 5px;
}

.healthncare-website h3, .healthncare-website ul li, .healthncare-website p, .healthncare-website a {
    color: white;
    padding: 5px;
}

.italy-travel-guide h3, .italy-travel-guide ul li, .italy-travel-guide p, .italy-travel-guide a {
    color: white;
    padding: 5px;
}

.spotify-wireframe h3, .spotify-wireframe ul li, .spotify-wireframe p, .spotify-wireframe a {
    color: white;
    padding: 5px;
}

.projects-container {
    max-width: 1350px;
    margin: 0 auto;
}